
frontend/node_modules
frontend/dist


backend/__pycache__/

backend/*.pyc

.DS_Store

.vscode/

.firebase/.DS_Store
frontend/node_modules
frontend/dist
backend/venv
__pycache__/
*.pyc

.env
backend/.env

.venv/
backend/.venv/